body{
    background-image: url("icon/back1.jpg");
    background-size: cover;
}
ul
{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.9;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
li
{
    float: right;
    border-right:1px solid #bbb;

}
li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
li a:hover
{
    background-color: #111;
}
h3
{   background-color: #4CAF50;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    color: white;
    padding: 2px 2px;
    text-decoration: none;
    width: fit-content;
}
.active {
    background-color: #4CAF50;
  }